.progressbarcontainer {
    width: 300px;
    margin: 30px auto auto;
}

.progressbar {
    height: 12px;
    background-color: rgb(5 114 206 / 20%);
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #999;
}

.progressbarvalue {
    width: 100%;
    height: 100%;
    background-color: rgb(5 114 206);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
    0% {
        transform: translateX(0) scaleX(0);
    }

    40% {
        transform: translateX(0) scaleX(0.4);
    }

    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}
