@import "constants/size";
@import "constants/colors";

body,
html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ededed;
    font-family: Montserrat, sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100% - 90px - 50px);
}

:global {
    .container {
        padding: 0;
        margin: 0 auto;
        width: 90%;
        min-width: 550px;
    }

    #app {
        position: relative;
        padding-top: 90px;
        height: calc(100% - 90px);
    }

    #react-root.container {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
    }

    .bg-image {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: fixed;

        .bg-blur {
            backdrop-filter: blur(8px);
            height: 100%;
            width: 100%;
        }
    }
}
