.section {
    background-color: rgb(200 200 200 / 50%);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 0 20px 20px 0;
}

.headerText {
    flex-grow: 1;
    font-size: 18px;
    line-height: 37px;
}

.sectionTitle {
    flex-grow: 1;
    font-size: 30px;
    text-align: right;
    font-style: italic;
}
