$color-green: #9cff00;
$color-green-light: #c3ff68;
$color-green-washed: #edffd1;
$color-orange: #f89406;
$color-orange-light: #ffba66;
$color-dark-red: #4d0000;
$color-red: #f22613;
$color-red-light: #f66;
$color-red-washed: #ffcccb;
$color-blue: rgb(59 126 237 / 100%);
$color-light-blue: #a9c6f6;
$color-dark-blue: #254e94;
$border-light-grey: 1px solid #aaa;
$color-background: #212528;
$bg-main: #faf9f6;
$bg-darkgrey: #b8b8b8;
$bg-lightgrey: #ccc;
