$input-size-padding-side: 5px;
$input-border: 1px solid #777;
$input-like-input-border: 1px solid #555;
$input-color: #ddd;
$input-color-background: rgb(255 255 255 / 3%);
$input-focus-color: black;
$input-focus-color-background: white;
