@import "types";

$notification-inform-border: $type-generic;
$notification-inform-background: $type-generic-light;
$notification-success-color-border: $type-success; // todo pick constant color
$notification-success-color-background: $color-green-washed; // todo pick contant color

$notification-error-color-border: $type-error; // todo pick constant color
$notification-error-color-background: $type-error-light; // todo pick constant color
