$img-root: "/img/";
$icon-watching-no: $img-root + "icons/watching-no.svg";
$icon-watching-yes: $img-root + "icons/watching-yes.svg";
$icon-anticipated-no: $img-root + "icons/anticipated-no.svg";
$icon-anticipated-yes: $img-root + "icons/anticipated-yes.svg";
$icon-rating--1: $img-root + "icons/rating/rating--1.svg";
$icon-rating-0: $img-root + "icons/rating/rating-0.svg";
$icon-rating-1: $img-root + "icons/rating/rating-1.png";
$icon-rating-2: $img-root + "icons/rating/rating-2.png";
$icon-rating-3: $img-root + "icons/rating/rating-3.png";
$icon-rating-4: $img-root + "icons/rating/rating-4.png";
$icon-rating-5: $img-root + "icons/rating/rating-5.png";
