@import "colors";

$type-success: $color-green;
$type-success-light: $color-green-light;
$type-error: $color-red;
$type-error-light: $color-red-washed;
$type-generic: $color-blue;
$type-generic-light: $color-light-blue;
$type-warn: $color-orange;
$type-warn-light: $color-orange-light;
$type-default: #ddd; // todo constant?
