@import "../constants/types";

@mixin background-fill-to-top($color, $background, $effect-color, $effect-background) {
    color: $color;
    background: linear-gradient(to top, $effect-background 50%, $background 50%);
    background-size: 100% 200%;
    transition:
        background 0.4s ease,
        color 0.4s ease;

    &:hover {
        color: $effect-color;
        background-position: right bottom;
    }
}

@mixin error {
    @include background-fill-to-top(black, $type-error, white, $type-error-light);
}

@mixin success {
    @include background-fill-to-top(black, $type-success-light, black, $type-success);
}

@mixin generic {
    @include background-fill-to-top(black, white, black, $bg-main);
}

@mixin warn {
    @include background-fill-to-top(black, $type-warn-light, white, $type-warn);
}
