@import "../../../scss/constants/resources";

.dialog-add-film {
    width: 400px;

    .row {
        height: 40px;
        display: flex;
        margin-bottom: 5px;

        label {
            line-height: 40px;
            margin-right: 20px;
        }

        input {
            flex: 1;
        }
    }

    select {
        option {
            color: black;
        }
    }

    .form-row.bought > div {
        height: calc(100%);
    }

    .dialog-body {
        padding: 10px 40px;
    }

    input.picker {
        height: 35px;
        width: 250px;
    }
}

.iconRow {
    flex: 1;
    display: flex;
}

.icon {
    display: inline-block;
    height: 18px;
    padding: 5px;
    width: 18px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    flex: 1;
    background-color: rgb(100 100 100 / 40%);

    &:hover {
        background-color: #fff;
    }
}

.selected {
    background-color: #eee;
    border: 0;
}

.rating--1 {
    background-image: url($icon-rating--1);
}

.rating-0 {
    background-image: url($icon-rating-0);
}

.rating-1 {
    background-image: url($icon-rating-1);
}

.rating-2 {
    background-image: url($icon-rating-2);
}

.rating-3 {
    background-image: url($icon-rating-3);
}

.rating-4 {
    background-image: url($icon-rating-4);
}

.rating-5 {
    background-image: url($icon-rating-5);
}

.watching-false {
    background-image: url($icon-watching-no);
}

.watching-true {
    background-image: url($icon-watching-yes);
}

.interested-false {
    background-image: url($icon-anticipated-no);
}

.interested-true {
    background-image: url($icon-anticipated-yes);
}
