.addDialog {
    width: 600px;

    .row {
        height: 40px;
        display: flex;
        margin-bottom: 5px;

        label {
            line-height: 40px;
            margin-right: 20px;
        }

        input {
            flex: 1;
        }
    }

    .results {
        margin-top: 20px;
    }

    select {
        option {
            color: black;
        }
    }

    .form-row.bought > div {
        height: calc(100%);
    }

    .dialog-body {
        padding: 10px 40px;
    }

    input.picker {
        height: 35px;
        width: 250px;
    }
}

.interestButton {
    width: 125px;
    margin-left: 10px;

    span {
        vertical-align: middle;
    }

    img {
        height: 18px;
        vertical-align: middle;
        margin-left: 5px;
    }
}
