.modify {
    width: 400px;

    .row {
        height: 40px;
        display: flex;

        label {
            line-height: 40px;
        }

        input {
            flex: 1;
        }
    }

    input.picker {
        height: 35px;
        width: 250px;
    }
}
