@import "../../../scss/mixins/background-fill-to-top";
@import "../../../scss/constants/colors";

.dialog {
    width: 700px;

    .selectors {
        .minRating {
            width: 140px;
            height: 33px;
            margin-right: 5px;
            border-radius: 4px;
            border: 1px solid #888;
            padding-left: 10px;
        }

        .seen {
            width: 100px;
            height: 37px;
            margin-right: 5px;
        }

        .multi {
            min-height: 34px;
            width: calc(100% - 150px - 5px - 100px - 5px - 10px);
            display: inline-block;
            float: right;

            img {
                height: 20px;
            }
        }
    }

    .suggestion {
        padding-top: 10px;
    }
}

.empty {
    padding: 40px;
    text-align: center;
}
