@import "../../../../scss/mixins/background-fill-to-top";
@import "../../../../scss/constants/colors";
@import "../../../../scss/constants/size";

.nav {
    height: $nav-height;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgb(40 40 40 / 80%);
    transition: background-color 1s;

    &.scrolled {
        background-color: rgb(30 30 30 / 100%);
    }

    .links {
        display: flex;
        height: $nav-height;

        .linksLeft,
        .linksRight {
            height: $nav-height;
        }

        .linksCenter {
            flex: 1;
        }

        a.link {
            @include background-fill-to-top(white, transparent, black, $bg-main);

            padding: 0 12px;
            height: $nav-height;
            text-decoration: none;
            text-align: center;
            line-height: $nav-height;
            min-width: 50px;
            display: inline-block;
            font-size: 15px;

            img {
                padding: 10px;
                height: calc(100% - 20px);
                vertical-align: middle;
            }

            &.tv {
                @include background-fill-to-top($color-red-light, rgba(200, 200, 200, 0.5), white, $bg-main);
            }

            &.logout {
                @include background-fill-to-top($color-red-light, transparent, white, $color-red-light);
            }
        }
    }
}
