.link {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    img {
        filter: invert(100%);
        transition: all 0.4s ease;
    }

    &:hover {
        img {
            filter: invert(0%);
        }
    }

    .dropdown {
        position: absolute;
        display: none;
        right: 0;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #eee;
        width: 370px;
        top: 54px;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .loading {
            width: 100%;
            margin: 20px auto;
        }

        .series {
            margin-bottom: 10px;
            padding: 3px 0;
        }

        .title {
            font-size: 14px;
            color: black;
        }

        .days {
            font-size: 14px;
            float: right;
            color: black;
            margin-right: 10px;
        }

        .episodeNumber {
            float: right;
        }

        .lastEpisode {
            background: black;
            color: white;
        }

        .firstEpisode {
            background: greenyellow;
        }

        .viewAll {
            color: black;
            font-size: 13px;
            margin-top: 5px;
            display: inline-block;
            border-top: 1px solid #999;
            width: 100%;
            padding-top: 5px;
        }
    }

    &.open {
        .dropdown {
            display: block;
        }
    }
}
