@import "../../../scss/mixins/background-fill-to-top";
@import "../../../scss/constants/colors";

.item {
    display: flex;
    flex-direction: row;

    &:not(:first-of-type) {
        margin-top: 25px;
    }
}

.poster {
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
    background-size: cover;
}

.info {
    overflow: hidden;
    padding: 0 10px;
    height: 300px;
    display: flex;
    flex-direction: column;

    .releaseDate {
        font-size: 14px;
        margin-top: 10px;
    }

    .overview {
        overflow-y: auto;
        font-size: 14px;
        flex: 1;
        margin-top: 10px;
        padding-right: 5px;
        margin-bottom: 10px;
        scrollbar-color: grey transparent;
        scrollbar-width: thin;
    }

    p {
        margin: 0;
        display: block;
        padding: 10px 0;
    }
}

.btnConnect {
    height: 30px;
    padding: 0 15px;
    cursor: pointer;
    border: 0;
    width: 100px;
    vertical-align: middle;

    &:disabled {
        color: #666;
    }

    &:not(:disabled) {
        @include generic;
    }
}

.dialog-button-view {
    margin-left: 10px;
    float: left;
}

.alreadyAdded {
    font-size: 13px;
}
