@import "../../../scss/mixins/background-fill-to-top";
@import "../../../scss/constants/colors";

.dialogBody {
    display: flex;

    .contentInfo {
        margin-bottom: 10px;

        .statusIcon {
            height: 18px;
            width: 18px;
            vertical-align: middle;
            margin-left: 0;
        }
    }
}

.rightSide {
    margin-left: 20px;
    width: 80px;
    display: flex;
    flex-direction: column;

    .rightSideExpander {
        flex: 1;
    }

    .gauge {
        width: 80px;
        height: 80px;
        position: relative;

        .rating {
            position: absolute;
            top: 21px;
            text-align: center;
            width: 100%;
        }

        .score {
            float: none;
            display: block;
            margin-left: 0;
        }
    }

    .streamProviders {
        margin-top: 20px;

        .streamTitle {
            font-size: 14px;
            margin-bottom: 10px;
        }

        img {
            height: 30px;
            width: 30px;
            margin-right: 5px;
            margin-bottom: 5px;
            border-radius: 2px;
        }
    }

    .lastRefresh {
        font-size: 11px;
        color: #777;
    }
}

.headers,
.moreCast {
    color: #333;
}

.moreCast {
    margin-left: 5px;
    cursor: pointer;
    font-size: 11px;

    &:hover {
        text-decoration: underline;
    }
}

.section {
    margin-top: 16px;
    padding: 7px;
    background-color: #fcfcfc;
    border: 1px solid #999;
    border-radius: 2px;

    .headers {
        font-style: italic;
        margin-bottom: 4px;
        font-size: 14px;
    }

    .sectionText {
        font-size: 14px;
    }
}

.info {
    display: inline-block;
    width: calc(100% - 230px);
    vertical-align: top;
    flex: 1;
}

.poster {
    width: 200px;
    max-height: 300px;
    display: inline-block;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.alignMiddle {
    vertical-align: middle;
}

.pill {
    font-family: monospace;
    background-color: #333;
    border-radius: 4px;
    padding: 3px 7px;
    color: white;
    font-size: 12px;

    &:not(:first-of-type) {
        margin-left: 5px;
    }
}

.languageFlag {
    height: 20px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    border-radius: 4px;
    overflow: hidden;
}

.iconTime {
    height: 16px;
    margin-right: 5px;
    vertical-align: top;
    padding-top: 3px;
}
