@import "../../../scss/mixins/background-fill-to-top";
@import "../../../scss/constants/colors";

.item {
    overflow: hidden;

    &:not(:first-of-type) {
        margin-top: 20px;
    }
}

.poster {
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
    background-size: cover;
}

.info {
    overflow: hidden;
    padding: 0 10px 10px;
    height: 250px;
    margin-bottom: 10px;
    overflow-y: auto;

    p {
        margin: 0;
        display: block;
        border-top: 1px solid #444;
        padding: 10px 0;
    }
}

.connect {
    height: 30px;
    padding: 0 15px;
    cursor: pointer;
    border: 0;
}

.manual {
    display: flex;

    input {
        height: 24px;
        margin-right: 10px;
        text-align: center;
        flex: 1;
    }

    button {
        @include generic;

        width: 100px;
        height: 30px;
        border: 0;
        cursor: pointer;
    }
}
