@import "../../../scss/mixins/background-fill-to-top";
@import "../../../scss/constants/colors";

.dialog {
    width: 800px;
    padding-top: 20px;

    .poster {
        width: 200px;
        height: 300px;
        float: left;
        margin-right: 10px;
        background-size: cover;
    }

    .title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .info {
        overflow: hidden;
        padding: 0 10px 10px;
        margin-bottom: 10px;
        overflow-y: auto;

        p {
            margin: 0;
            border-top: 1px solid #444;
            padding: 10px 0;
        }
    }

    .episode {
        border: 1px solid #aaa;
        width: calc(50% - 20px - 2px);
        background-color: #fcfcfc;
    }
}

.episodes {
    margin-top: 10px;
}
