@import "../../scss/constants/colors";
@import "../../scss/mixins/background-fill-to-top";

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.centered {
    margin: auto;
    width: 310px;
    padding: 30px 20px;
    background-color: rgb(255 255 255 / 70%);
    border-radius: 4px;
}

.username,
.password {
    width: 278px;
    height: 40px;
    padding: 0 15px;
    font-size: 17px;
    border: 1px solid rgb(255 255 255 / 20%);
    background: rgb(255 255 255 / 50%);
    margin-bottom: 10px;
    border-radius: 4px;
}

.submit {
    @include background-fill-to-top(black, $color-green-light, black, $color-green);

    width: 130px;
    height: 32px;
    cursor: pointer;
    display: block;
    margin: 12px auto 0;
    border: none;
    font-size: 15px;
    border-radius: 4px;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.5;
    filter: "alpha(opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    background-position: center;
    opacity: 0.5;
}

:global {
    #app {
        height: 100%;
        font-family: Montserrat, sans-serif;
    }
}
