@import "../../../../../scss/constants/colors";
@import "../../../../../scss/constants/resources";

.top {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: all ease-in-out 0.3s;
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
    border-radius: 4px;
}
