@import "../../../../scss/constants/notification";

@mixin notification($border, $background, $icon) {
    border-color: $border;
    background: $background;

    .icon {
        background: url($icon);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.notification {
    width: 270px;
    height: 50px;
    background: #222;
    border-left: 10px solid;
    color: black;
    padding: 12px;
    transition: 1s;
    z-index: 10;
    margin-bottom: 20px;

    .icon {
        width: 30px;
        height: 100%;
        float: left;
        margin-right: 10px;
    }

    &.inform {
        @include notification($notification-inform-border, $notification-inform-background, "/img/alert/inform.png");
    }

    &.success {
        @include notification(
            $notification-success-color-border,
            $notification-success-color-background,
            "/img/alert/success.svg"
        );
    }

    &.error {
        @include notification(
            $notification-error-color-border,
            $notification-error-color-background,
            "/img/alert/error.png"
        );
    }

    &.hide {
        transition: 1s;
        opacity: 0;
    }

    &.hidden {
        display: none;
    }
}
