@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkboxWrapper input[type="checkbox"] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, 30%);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition:
            background 0.3s,
            border-color 0.3s,
            box-shadow 0.2s;
        vertical-align: middle;
    }
    .checkboxWrapper input[type="checkbox"]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition:
            transform var(--d-t, 0.3s) var(--d-t-e, ease),
            opacity var(--d-o, 0.2s);
    }
    .checkboxWrapper input[type="checkbox"]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    .checkboxWrapper input[type="checkbox"]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    .checkboxWrapper input[type="checkbox"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    .checkboxWrapper input[type="checkbox"]:disabled + label {
        cursor: not-allowed;
    }
    .checkboxWrapper input[type="checkbox"]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    .checkboxWrapper input[type="checkbox"]:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    .checkboxWrapper input[type="checkbox"]:not(.switch) {
        width: 21px;
    }
    .checkboxWrapper input[type="checkbox"]:not(.switch):after {
        opacity: var(--o, 0);
    }
    .checkboxWrapper input[type="checkbox"]:not(.switch):checked {
        --o: 1;
    }
    .checkboxWrapper input[type="checkbox"] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    .checkboxWrapper input[type="checkbox"]:not(.switch) {
        border-radius: 7px;
    }
    .checkboxWrapper input[type="checkbox"]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    .checkboxWrapper input[type="checkbox"]:not(.switch):checked {
        --r: 43deg;
    }
    .checkboxWrapper input[type="checkbox"].switch {
        width: 38px;
        border-radius: 11px;
    }
    .checkboxWrapper input[type="checkbox"].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    .checkboxWrapper input[type="checkbox"].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    .checkboxWrapper input[type="checkbox"].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
}

.checkboxWrapper * {
    box-sizing: inherit;
}
.checkboxWrapper *:before,
.checkboxWrapper *:after {
    box-sizing: inherit;
}
