.cardContainer {
    display: grid;
    grid-gap: 15px;
}

.movieContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.seriesContainer {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
}

.toggleWrapper {
    margin-bottom: 10px;
}

.toggle {
    display: inline-block;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 5px;
}
