.card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.poster {
    display: inline-block;
    aspect-ratio: 2 / 3; // the aspect ratio of tmdb's images
}

.cardInfo {
    padding: 5px;
    background-color: rgb(255 255 255 / 30%);

    .cardTitle {
        font-size: 16px;
        flex: 1;

        .title {
            color: black;
            text-decoration: none;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            height: 40px;

            &:hover {
                text-decoration: underline;
                text-decoration-style: dotted;
                text-decoration-color: #555;
            }
        }
    }
}

.bottom {
    display: flex;

    .specialInterest {
        margin-right: 5px;
        height: 20px;
    }
}

.releaseDate {
    flex: 1;
}
