.card {
    background-color: rgb(255 255 255 / 40%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.cardTitle {
    font-size: 17px;
    margin: 0 5px 5px;
    border-radius: 4px;
    flex: 1;

    .title {
        color: black;
        text-decoration: none;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        width: calc(100% - 80px);
        float: left;

        &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-color: #555;
        }
    }

    .titleRight {
        float: right;
        font-size: 14px;
        line-height: 20px;
        font-style: italic;
    }
}

.poster {
    height: 150px;
    width: 100px;
    display: inline-block;
    border-radius: 4px;
}

.cardInfo {
    padding: 10px 5px;
    vertical-align: top;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
