.rating {
    display: inline-block;

    .value {
        text-align: center;
        font-size: 16px;
        margin-left: 7px;
        margin-top: 2px;
        display: inline-block;
        height: 20px;
        float: right;
    }

    a img {
        height: 22px;
    }

    .netflixIcon {
        height: 14px;
    }
}
