@import "../../../scss/constants/dialog";
@import "../../../scss/constants/types";

.overlay {
    position: fixed;
    inset: 0;
    background-color: $dialog-overlay-color-background;
    margin: 0 auto;
    z-index: 9;
    display: flex;
    flex-direction: row;
}

.dialog {
    z-index: 10;
    border-radius: 7px;
    background: rgb(230 230 230 / 100%);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 100px);
    margin: auto;
    max-width: calc(100% - 40px);

    .header {
        padding: 20px;
        font-size: 32px;
        height: 40px;
    }

    .form-row {
        width: 100%;
        border: 0;
        height: 40px;
    }

    .body {
        flex: 1;
        overflow-y: auto;
        padding: 0 20px;
        height: calc(100% - #{$dialog-button-size-height} - 50px);

        select {
            width: calc(100% - 100px);
        }

        .form-row {
            height: 40px;
            line-height: 40px;

            input[type="text"],
            select {
                text-align: right;
                height: calc(100%);
                border: 1px solid lightgrey;
                padding: 0 5px;
            }
        }
    }

    label {
        width: 100px;
    }

    .buttons {
        height: $dialog-button-size-height;
    }
}
