@import "../../../scss/constants/dialog";

.buttons {
    height: $dialog-button-size-height;
    display: flex;
    overflow: hidden;
    min-height: $dialog-button-size-height;
    padding: 10px;
}
