@import "../../../scss/constants/types";
@import "../../../scss/mixins/background-fill-to-top";

.button {
    height: calc(100% - 20px);
    display: table-cell;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    border: 0;
    border-radius: 5px;

    &.error {
        @include background-fill-to-top(black, $type-error-light, white, $type-error);
    }

    &.success {
        @include background-fill-to-top(black, $type-success-light, black, $type-success);
    }

    &.generic {
        @include background-fill-to-top(black, white, black, $bg-main);
    }

    &.warn {
        @include background-fill-to-top(black, $type-warn-light, white, $type-warn);
    }
}
