.episode {
    border-radius: 4px;
    background-color: rgb(255 255 255 / 30%);
    width: calc(50% - 20px);
    height: 90px;
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    vertical-align: top;
    padding: 5px;

    &.mini {
        padding: 10px;
    }
}

.episodeCount {
    float: left;
}

.button {
    font-family: monospace;
    padding: 3px 5px;
    border-radius: 5px;
}

.seasonAndEpisode {
    float: left;
    background-color: white;
}

.finaleButton {
    float: right;
    background-color: black;
    color: white;
}

.startButton {
    float: right;
    background-color: greenyellow;
}

.buttons {
    margin-bottom: 5px;
}

.airDate {
    flex-grow: 1;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .exact {
        font-size: 13px;
        font-style: italic;
    }
}

.summary {
    font-size: 14px;
    overflow: auto;
    flex-grow: 1;
}
