.button {
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    font-family: monospace;
    cursor: pointer;
    color: #aaa;

    &:hover {
        color: red;
    }
}
