.option {
    padding: 10px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;

    &.disabled {
        background: rgb(250 250 250 / 100%);
    }

    &.disabled,
    &.empty {
        cursor: default;

        &:hover {
            background: transparent;
        }
    }

    &:hover,
    &.selected {
        background: rgb(200 200 200 / 100%);
    }
}
