.multi-select {
    cursor: pointer;
    border-radius: 4px;
    min-height: 40px;
    position: relative;
    color: #ddd;
    background: rgb(250 250 250 / 100%);
    display: block;
    border: 1px solid #666;
}

.child {
    height: 100%;
    width: calc(100% - 20px);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.multi-select-menu {
    position: absolute;
    width: calc(100% - 1px);
    padding: 0;
    display: none;
    overflow: auto;
    max-height: 200px;
    z-index: 9;
    border: 1px solid #777;
    background: rgb(250 250 250 / 100%);
    border-radius: 3px;
}

.multi-select.open .multi-select-menu {
    display: block;
}
