.input {
    color: white;
    word-wrap: break-word;
    height: 19px;
    flex-grow: 1;
    padding: 8px 10px;

    &:empty::before {
        content: attr(placeholder);
        display: block; /* For Firefox */
        color: #777;
    }

    &:focus {
        outline: 0;
    }
}
