.selected {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi {
    padding: 0;
    margin: 7px 5px 2px;
    display: block;
    font-family: Roboto, "Open Sans", Arial, sans-serif;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}

.text {
    float: left;
    padding: 1px 5px;
}

.cross {
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    background: #ccc;
    color: black;
    margin-top: 1px;

    &:hover {
        background: #5d5e61;
    }
}
