@import "../../../../scss/constants/size";

.row {
    height: 28px;
    display: flex;
    margin: 5px;

    label {
        width: 90px;
        display: inline-block;
        font-size: 14px;
        line-height: 28px;
    }

    input,
    select {
        height: 100%;
        border: 1px solid #999;
        padding: 0 6px;
        border-radius: 4px;
        min-width: 1px;
        flex: 1;
    }

    input {
        height: calc(100% - 2px);
    }
}
