.bottom {
    transition: opacity 0.3s;
    width: 100%;
    height: calc(100% - 96px);
    font-size: 13px;
    border-bottom: 1px solid;
    color: black;
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
    aspect-ratio: 0.8;

    .infoHeader {
        padding: 0 5px;
        height: 38px;
    }

    hr {
        width: calc(100% - 20px);
        border-color: #ccc;
        margin-bottom: 0;
    }

    &.open {
        background-color: #444;
    }
}

.plot {
    flex: 1;
    padding: 4px 10px 2px;
    line-height: 18px;
    overflow: auto;
    height: calc(100% - 53px);
    scrollbar-color: grey transparent;
    scrollbar-width: thin;
}

.watchOptions {
    height: 32px;
    display: inline-block;
}
