@import "../../../../../scss/constants/resources";

.menu {
    min-height: 20px;
    position: relative;
    text-align: right;
    cursor: pointer;

    .dropdown {
        opacity: 0;
        background-color: #aaa;
        position: absolute;
        visibility: hidden;
        top: 40px;
        z-index: 4;
        overflow: hidden;
    }

    &.left {
        float: left;

        .dropdown {
            border-radius: 0 4px 4px;
        }
    }

    &.right {
        float: right;

        .dropdown {
            right: 0;
            border-radius: 4px 0 4px 4px;
        }
    }

    .menuHeader {
        display: inline-block;
        margin-top: 4px;
        padding: 9px;
        border-radius: 4px;
        z-index: 5;
        position: relative;
    }

    .menuIcon {
        width: 18px;
        height: 18px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dropdownIcon {
        padding: 9px;
        display: inline-block;
        background-color: #aaa;

        &:hover {
            background-color: #fff;
        }
    }

    &:hover {
        .dropdown {
            opacity: 1;
            visibility: visible;
        }

        .menuHeader {
            border-radius: 4px 4px 0 0;
            border-bottom: 0;
            margin-bottom: 0;
            height: 18px;
            background: #aaa;
        }
    }
}
