@import "../../../../../scss/constants/resources";

.menuIcon {
    background-image: url($img-root + "icons/options.png");
}

.dropdown {
    width: 130px;
}

.link {
    padding: 7px 10px;
    cursor: pointer;
    display: block;

    &:hover {
        background-color: #eee;
    }
}

.contentToolIcon {
    height: 16px;
    float: right;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: #aaa;
    }
}
