@import "../../../../../scss/constants/resources";

.dropdown {
    text-align: left;
    width: 190px;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    position: relative;

    &:not(:first-of-type) {
        margin-left: 10px;
    }
}

.rating--1 {
    background-image: url($icon-rating--1);
}

.rating-0 {
    background-image: url($icon-rating-0);
}

.rating-1 {
    background-image: url($icon-rating-1);
}

.rating-2 {
    background-image: url($icon-rating-2);
}

.rating-3 {
    background-image: url($icon-rating-3);
}

.rating-4 {
    background-image: url($icon-rating-4);
}

.rating-5 {
    background-image: url($icon-rating-5);
}

.watching-yes {
    background-image: url($icon-watching-yes);
}

.watching-no {
    background-image: url($icon-watching-no);
}
