@import "../../../../../scss/constants/resources";

.dropdown {
    width: 80px;
}

.menu {
    margin-left: 5px;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    position: relative;

    &:not(:first-of-type) {
        margin-left: 10px;
    }
}

.watchingNo {
    background-image: url($img-root + "icons/watching-no.svg");
}

.watchingYes {
    background-image: url($img-root + "icons/watching-yes.svg");
}
