@import "../../../scss/constants/colors";
@import "../../../scss/mixins/background-fill-to-top";

.pagination {
    text-align: center;
    margin: 30px auto 20px;
    border-radius: 4px;
    max-width: 500px;

    .pages {
        margin-top: 5px;
    }

    .count {
        text-align: center;
        font-size: 20px;
    }

    .pageButton {
        border: 0;

        &:not(:disabled) {
            cursor: pointer;

            &:hover {
                transition:
                    background 0.2s linear,
                    color 0.2s linear;
                background-color: #333;
                color: white;
            }
        }
    }

    .paginationElement {
        display: inline-block;
        text-align: center;
        border-radius: 2px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 3px;
        background-color: #eee;
        font-size: 14px;

        button {
            height: 20px;
            margin-left: 5px;
            margin-right: 0;
            border-radius: 2px;
        }

        input {
            margin-left: 5px;
            width: 20px;
            text-align: center;

            &::-webkit-inner-spin-button {
                appearance: none;
            }

            &[type="number"] {
                appearance: textfield;
            }
        }

        &.pageButton {
            padding: 5px 15px;
            height: 30px;
        }
    }

    .paginationCount {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        vertical-align: bottom;
    }

    .dots {
        margin-left: 5px;
        margin-right: 10px;
        color: white;
    }

    .separator {
        display: none;
    }
}
