.query {
    margin-top: 10px;

    a {
        text-decoration: none;
    }
}

.noSavedQueries {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.queryParam {
    border: 1px solid;
    margin-right: 5px;
}

.queryDeleteButton {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.pill {
    font-family: monospace;
    border-radius: 4px;
    font-size: 11px;
    height: 20px;
    display: inline-block;

    &:not(:first-of-type) {
        margin-left: 5px;
    }

    .pillField {
        background-color: black;
        color: white;
        padding: 3px 5px;
        border-radius: 5px 1px 1px 5px;
    }

    .pillValue {
        background-color: lightblue;
        color: black;
        padding: 3px 5px;
        border-radius: 1px 5px 5px 1px;
    }
}
