@import "../../../scss/constants/size";
@import "../../../scss/constants/resources";

.searchTools {
    display: flex;
    margin: 10px auto 0;
}

.searchToolGroup {
    display: inline-block;
}

.searchToolGroupExpand {
    text-align: right;
    flex: 1;
}

.searchOption {
    color: #333;
    font-size: 13px;
    cursor: pointer;

    &.withMarginRight {
        margin-right: 10px;
    }

    &.searchOptionRight {
        flex: 1;
    }

    &:hover {
        text-decoration: underline;
    }
}

.formWrapper {
    padding: 20px 20px 10px;
    background-color: rgb(255 255 255 / 50%);
    border: 1px solid #999;
    border-radius: 4px;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.halfwrapper {
    width: calc(100% - 90px);
    display: flex;

    * {
        &:first-of-type {
            margin-right: 4px;
        }
    }

    select[name="type"] {
        margin-right: 0;
    }
}

.collapsed {
    padding: 10px;
    margin: 0 auto;
    width: 500px;

    .moreOptions {
        display: flex;
        margin-top: 5px;

        .searchOption {
            display: inline-block;
        }
    }

    .collapsedRow {
        height: 32px;
        width: 100%;
        vertical-align: top;
    }

    label {
        width: 60px;
        display: inline-block;
        font-size: 14px;
    }

    input {
        border: 1px solid #999;
        padding: 0 6px;
        border-radius: 4px;
        height: 100%;
        width: calc(100% - 15px);
        text-align: center;
    }
}

.imdbRatingRow {
    input {
        text-align: center;
    }
}

.iconRow {
    flex: 1;
    display: flex;
    text-align: center;
    font-size: 14px;
}

.icon {
    display: inline-block;
    height: 18px;
    padding: 5px;
    width: 18px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    flex: 1;
    background-color: rgb(100 100 100 / 40%);

    &:hover {
        background-color: #fff;
    }

    img {
        height: 18px;
    }
}

.selected {
    background-color: #eee;
    border: 0;
}

.rating--1 {
    background-image: url($icon-rating--1);
}

.rating-0 {
    background-image: url($icon-rating-0);
}

.rating-1 {
    background-image: url($icon-rating-1);
}

.rating-2 {
    background-image: url($icon-rating-2);
}

.rating-3 {
    background-image: url($icon-rating-3);
}

.rating-4 {
    background-image: url($icon-rating-4);
}

.rating-5 {
    background-image: url($icon-rating-5);
}

.watching-no {
    background-image: url($icon-watching-no);
}

.watching-yes {
    background-image: url($icon-watching-yes);
}

.interested-no {
    background-image: url($icon-anticipated-no);
}

.interested-yes {
    background-image: url($icon-anticipated-yes);
}
