@import "../../../../scss/constants/size";
@import "../../../../scss/constants/colors";
@import "../../../../scss/constants/resources";

.slideContainer {
    background-color: #eee;
    border-radius: 4px;
    position: relative;
}

.contentSummary {
    padding: 3px 9px;
    font-size: 14px;
    position: absolute;
    z-index: 6;
    bottom: 0;
    width: calc(100% - 18px);
    background: rgb(220 220 220 / 80%);
    border-radius: 0 0 4px 4px;
    height: 90px;
}

.title {
    font-size: 17px;
    height: 41px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.contentDetails {
    font-size: 14px;

    .year,
    .duration {
        display: inline-block;
        height: 33px;
    }
}

.contentProviders {
    font-size: 14px;
    height: 30px;
}

.watchProviders {
    margin-top: 5px;
}

.contentInfoButton {
    height: 22px;
    padding: 6px;
    border-radius: 15px;
    margin-left: -6px;
    margin-right: 6px;
    cursor: pointer;

    &:hover {
        background-color: rgb(255 255 255 / 40%);
    }
}

.ratingsContainer {
    display: inline-block;
    padding: 6px 6px 6px 0;
    vertical-align: bottom;
}

.streamingContainer {
    float: right;

    img {
        margin: 6px 5px 6px 0;
    }
}

.middot {
    margin: 0 5px;
}
