@import "../../../../scss/constants/size";

.slide {
    aspect-ratio: 2 / 3; // the aspect ratio of tmdb's images
    display: grid;

    &:hover,
    &.open {
        .top {
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
        }
    }
}
